{% extends "bootstrap/base.html" %}

{% block title %}This is web app {% endblock %}

{% block content %}
<form method="post" action="/" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <p>
        {{ form.upload_first.label }}
        {{ form.upload_first() }}
    </p>
    {% if form.upload_first.errors %}
        <ul class="errors">
            {% for error in form.upload_first.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>
        {{ form.upload_second.label }}
        {{ form.upload_second() }}
    </p>
    {% if form.upload_second.errors %}
        <ul class="errors">
            {% for error in form.upload_second.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>
        {{ form.mix_ratio.label }}
        {{ form.mix_ratio(min=0, max=1) }}
    </p>
        {{ form.recaptcha() }}
    <p>
        {{ form.submit() }}
    </p>
</form>

<h2> Yours photos:</h2>

<div>
    <img src={{image_first}} class="img-rounded" alt="First Image" width=224, height=224/>
    <img src={{image_second}} class="img-rounded" alt="Second Image" width=224, height=224/>
</div>

<h2> Result Photo: </h2>
<div>
    <img src={{image_result}} class="img-rounded" alt="Result Image" width=224, height=224/>
</div>

<h2>Сolor distribution: </h2>
<div>
    <img src={{gist_first}} class="img-rounded" alt="First Image" width=300, height=300/>
    <img src={{gist_second}} class="img-rounded" alt="Second Image" width=300, height=300/>
    <img src={{gist_result}} class="img-rounded" alt="Second Image" width=300, height=300/>
</div>


{% endblock %}
